<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content *ngIf="profile$ | async as profile">
        <ion-list id="inbox-list">
          <ion-list-header>Cookbook</ion-list-header>
          <ion-note>{{profile.name}}</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/recipes']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="pizza-outline"></ion-icon>
              <ion-label>Recipes</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/tags']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="pricetags-outline"></ion-icon>
              <ion-label>Tags</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/cookbooks']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="book-outline"></ion-icon>
              <ion-label>Cookbooks</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/dinner']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="shuffle-outline"></ion-icon>
              <ion-label>Whats for Dinner?</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/search']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="search-outline"></ion-icon>
              <ion-label>Search</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/profile']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item button lines="none" detail="false" (click)="logout()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-grid id="main-content">
      <ion-row class="h-100">
        <ion-col>
          <ion-router-outlet></ion-router-outlet>
        </ion-col>
        <ion-col class="right-pane" *ngIf="showRightPane" size="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Shuffle</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-split-pane>
</ion-app>
