<ion-header>
  <ion-toolbar>
    <ion-title>Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #spinner>
    <ion-spinner></ion-spinner>
  </ng-template>
  <ion-grid fixed *ngIf="recipe$ | async as recipe;else spinner">
    <ion-row>
      <ion-col size="12">
        <div>
          <ion-label position="stacked">Recipe Name</ion-label>
          <ion-input placeholder="Recipe Name" [(ngModel)]="recipe.name"></ion-input>
        </div>
        <div>
          <ion-label position="stacked">Cook Time</ion-label>
          <ion-input placeholder="20 minutes" [(ngModel)]="recipe.cooktime"></ion-input>
        </div>
        <div>
          <ion-label position="stacked">Meal Type</ion-label>
          <ion-input placeholder="Breakfast" [(ngModel)]="recipe.foodType"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="12" size-md="6">
        <ion-toolbar>
          <ion-title>Ingredients</ion-title>
          <ion-buttons slot="primary">
            <ion-button color="success" (click)="addIngredient(recipe)">
              <ion-icon slot="icon-only" ios="add-circle-outline" md="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-reorder-group id="ingredients" disabled="false" (ionItemReorder)="doReorder($event, recipe)">
            <ion-item *ngFor="let item of recipe.ingredients;let i=index;trackBy:trackByIndex">
              <ion-input placeholder="Ingredient" name="ing{{i}}" [(ngModel)]="recipe.ingredients[i]"></ion-input>
              <ion-reorder slot="start"></ion-reorder>
            </ion-item>
          </ion-reorder-group>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div>
          <ion-toolbar>
            <ion-title>Instructions</ion-title>
            <ion-buttons slot="primary">
              <ion-button color="success" (click)="addInstruction(recipe)">
                <ion-icon slot="icon-only" ios="add-circle-outline" md="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </div>
        <ion-list>
          <ion-reorder-group id="instructions" disabled="false" (ionItemReorder)="reorderInstructions($event)">
            <ion-item *ngFor="let step of recipe.steps;let i=index;trackBy:trackByIndex">
              <ion-input placeholder="Instruction" name="step{{i}}" [(ngModel)]="recipe.steps[i].instructions"></ion-input>
              <ion-reorder slot="start"></ion-reorder>
            </ion-item>
          </ion-reorder-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="small" color="light" *ngFor="let tag of recipe.tags">{{tag}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Notes</h3>
        <div>
          <ion-textarea type="text" [(ngModel)]="recipe.notes" placeholder="Notes"></ion-textarea>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button size="small" (click)="save(recipe)">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
