<ion-header *ngIf="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-button size="small" routerLink="/recipes/create">Create</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let recipe of recipes$ | async">
        <ion-card routerLink="/recipes/{{recipe.id}}">
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start" routerLink="/tesdfsdfsdf/{{recipe.id}}">
                <img src="https://picsum.photos/200?random=1987">
              </ion-avatar>
              <ion-label>
                <h1>{{recipe.name}}</h1>
                <p>{{recipe.userProfile.name}}</p>
              </ion-label>
            </ion-item>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      {{recipe.description}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-img class="w-100" src="https://picsum.photos/600/300?random={{recipe.id}}"></ion-img>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card-content>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-icon class="icon-less-margin" name="timer-outline" slot="start"></ion-icon>
                  <ion-label class="icon-less-margin">{{recipe.cooktime}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-icon class="icon-less-margin" name="pizza-outline" slot="start"></ion-icon>
                  <ion-label class="icon-less-margin">{{recipe.foodType}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-button class="icon-less-margin" fill="clear" (click)="like(recipe.liked, recipe.id, $event)">
                    <ion-icon slot="icon-only" [name]="recipe.liked ? 'heart' : 'heart-outline'"
                      [color]="recipe.liked ? 'primary' : 'dark'"></ion-icon>
                  </ion-button>
                  <ion-label class="icon-less-margin">{{recipe.likeCount}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
