<ion-header *ngIf="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-button size="small" routerLink="/recipes/create">Create</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let recipe of recipes$ | async">
        <app-recipe-view-card [recipe]="recipe" (liked)="like($event)"></app-recipe-view-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
