<ion-header *ngIf="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-button size="small" routerLink="/recipes/create">Create</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let recipe of recipes$ | async">
        <ion-card>
          <ion-card-header>
            <ion-item detail="false" lines="none" routerLink="/recipes/{{recipe.id}}">
              <ion-label>
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.author}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
