<ion-img class="w-100" src="https://picsum.photos/600/300"></ion-img>
<ion-item lines="none">
  <h3>{{profile.name}}</h3>
  <ion-chip [routerLink]="['/profile']" slot="end" outline color="primary" *ngIf="canEdit else follow">
    <ion-label>Edit</ion-label>
  </ion-chip>
  <ng-template #follow>
    <ion-chip slot="end" outline color="primary">
      <ion-label>Follow</ion-label>
    </ion-chip>
  </ng-template>
</ion-item>
<ion-item lines="none">
  <ion-label>
    {{profile.followerCount}} Followers
  </ion-label>
  <ion-label>
    {{profile.followingCount}} Following
  </ion-label>
</ion-item>
