<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div>
          <ion-label position="stacked">Recipe Name</ion-label>
          <ion-input placeholder="Recipe Name" [(ngModel)]="recipe.name"></ion-input>
        </div>
        <div>
          <ion-label position="stacked">Cook Time</ion-label>
          <ion-input placeholder="20 minutes" [(ngModel)]="recipe.cooktime"></ion-input>
        </div>
        <div>
          <ion-label position="stacked">Meal Type</ion-label>
          <ion-input placeholder="Breakfast" [(ngModel)]="recipe.foodType"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="12" size-md="6">
        <ion-toolbar>
          <ion-title>Ingredients</ion-title>
          <ion-buttons slot="primary">
            <ion-button color="success" (click)="addIngredient(recipe)">
              <ion-icon slot="icon-only" ios="add-circle-outline" md="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let item of recipe.ingredients;let i=index;trackBy:trackByIndex;let isFirst=first;let isLast=last;">
            <ion-input placeholder="Ingredient" name="ing{{i}}" [(ngModel)]="recipe.ingredients[i]"></ion-input>
            <ion-button icon-only color="light" slot="end" (click)="removeIngredient(i)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div>
          <ion-toolbar>
            <ion-title>Instructions</ion-title>
            <ion-buttons slot="primary">
              <ion-button color="success" (click)="addInstruction(recipe)">
                <ion-icon slot="icon-only" ios="add-circle-outline" md="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </div>
        <ion-list>
            <ion-item *ngFor="let rec of recipe.steps;let i=index;trackBy:trackByIndex" class="ion-justify-content-center">
              <ion-textarea placeholder="Instruction" autoGrow="true" rows="1" name="dddd{{i}}" [(ngModel)]="recipe.steps[i]"></ion-textarea>
              <div class="d-flex ion-justify-content-center ion-align-items-center" slot="end">
                <ion-button icon-only color="light" (click)="removeInstruction(i)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="small" color="light" *ngFor="let tag of recipe.tags">{{tag}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Notes</h3>
        <div>
          <ion-textarea type="text" [(ngModel)]="recipe.notes" placeholder="Notes"></ion-textarea>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button size="small" (click)="goBack()" color="light">Cancel</ion-button>
        <ion-button size="small" (click)="save()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
